<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="#">
    <link rel="icon" type="image/png" href="/resources/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/resources/favicon.svg" />
    <link rel="shortcut icon" href="/resources/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/resources/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="BCA Notes" />
    <link rel="manifest" href="/resources/site.webmanifest" />
<meta name="google-adsense-account" content="ca-pub-4055560731029836">
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DR2VPR3VY8"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'G-DR2VPR3VY8');
</script>
<body>
    <!-- body code -->
    <div class="footer">
        Notes prepared by <a href="https://justaman.netlify.app/" target="_blank" rel="noopener noreferrer">Aman</a>
        & <a href="https://gauraang.netlify.app/">Gaurang</a>, refined by
        AI. <br>
        Live Visitor Counter:
        <script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/1254228/t/5"
            id="daid"></script>
    </div>

    <script src="script.js"></script>
</body>
</html>