* {
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100%;
    --color: #E1E1E1;
    background-color: #F3F3F3;
    background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent),
        linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent);
    background-size: 55px 55px;
}

li{
    list-style-type: none;
}

h1{
    text-align: center;
}

form{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f970;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#ID{
    position: fixed;
    top: 70px;
    right: 20px;
    border: none;
    padding: 9px 10px;
    border-radius: 50%;
    background-color: #dbdbdb3a;
    color: #000;
    cursor: pointer;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease, transform 0.2s ease;
}

#ID:hover{
    transform: translateY(-2px);
    background-color: #666;
    color: #eee;
    box-shadow: 1px 1px 1px 1px #0000008e;
    font-weight: 500;
}

.dark-theme #ID{
    background-color: #ddd;
    color: #000;
}

.dark-theme #ID:hover{
    font-weight: 500;
    background-color: #ffffff;
    color: #000000;
    box-shadow: 1px 1px 1px 1px #ffffff91;
}

#theme-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    border: none;
    padding: 9px 10px;
    border-radius: 50%;
    background-color: #dbdbdb3a;
    color: #000;
    cursor: pointer;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease, transform 0.2s ease;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#theme-toggle:hover{
    transform: translateY(-2px);
    background-color: #666;
    color: #eee;
    box-shadow: 1px 1px 1px 1px #0000008e;
    font-weight: 500;
}

.dark-theme #theme-toggle{
    background-color: #ddd;
    color: #000000;
}

.dark-theme #theme-toggle:hover{
    font-weight: 500;
    background-color: #ffffff;
    color: #000000;
    box-shadow: 1px 1px 1px 1px #ffffff91;
}

.dark-theme {
    width: 100%;
    height: 100%;
    --color: rgba(114, 114, 114, 0.3);
    background-color: #191a1a;
    background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
        linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
    background-size: 55px 55px;
}

#moon-icon, #sun-icon {
    width: 24px;
    height: 24px;
    transition: opacity 0.2s ease-in-out;
}

.dark-theme h1 {
    color: #ffffff;
}

.dark-theme form{
    background-color: #212121;
    color: #ffffff;
}
.dark-theme textarea{
    background-color: #212121;
    color: #ffffff;
}
.button {
    --font-color: #fefefe;
    --bg-color: #111;
    --main-color: #fefefe;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 17px;
    font-weight: 600;
    color: var(--font-color);
    cursor: pointer;
  }
  
  .button:active {
    box-shadow: 0px 0px var(--main-color);
    transform: translate(3px, 3px);
  }
  
input{
    padding: 2px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input:hover{
    border: 1px solid #333;
}

.dark-theme input{
    border: 1px solid #333;
    color: #ffffff;
}

.dark-theme select{
    border: 1px solid #333;
    color: #000;
}

select:hover{
    border: 1px solid #333;
}

select{
    padding: 2px;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}
p{
    color: #000;
    font-size: 18px;
}

.dark-theme p{
    color: #ffffff;
}